:root {
  --navy-col: oklch(27.12% .19 264);
  --navy-col-lighter: oklch(35% .19 264);
  --navy-highlight-col: oklch(45% .19 264);
  --navy-list-highlight-col: oklch(75% .19 264);
  --white-col: oklch(100% 0 0);
  --gray-col: oklch(84.82% .01 242.86);
  --black-col: 0 0 0;
}

* {
  box-sizing: border-box;
}

main {
  width: 800px;
  min-height: 90dvh;
  margin-inline: auto;
  position: relative;
}

#titre {
  background-color: var(--navy-col);
  color: var(--white-col);
  text-align: center;
  border: 1px solid #00000080;
  border-radius: 10px 10px 10px 0;
  padding: 12px;
  font-family: serif;
  font-size: 3em;
  font-style: italic;
  font-weight: bold;
  box-shadow: inset -.3rem -.3rem .5rem #ffffff4d, inset .3rem .3rem .3rem #fff9, .5rem .5rem .5rem #00000080;
}

#titre:hover {
  cursor: pointer;
}

#gauche {
  background-color: var(--navy-col);
  color: #fff;
  border: 1px solid #00000080;
  border-radius: 0 0 10px 10px;
  width: 135px;
  min-height: 93%;
  padding: 20px 5px;
  font-weight: bold;
  position: absolute;
  left: 0;
  box-shadow: inset -.3rem -.3rem .5rem #ffffff4d, inset .1rem .1rem .2rem #fffc, .5rem .5rem .5rem #00000080;
}

#gauche .maj {
  text-align: center;
  color: var(--white-col);
  font-family: sans-serif;
  font-size: .8em;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

#gauche .maj:before {
  content: "Mis à jour ";
}

#contenu {
  background-color: var(--gray-col);
  margin-block: 10px;
  border: 1px solid #00000080;
  border-radius: 10px;
  width: 645px;
  min-height: 92%;
  margin-right: 10px;
  padding: 20px 20px 2rem;
  position: absolute;
  left: 150px;
  box-shadow: inset -.5rem -.5rem .5rem #808080b3, inset .5rem .5rem .2rem #fff3, 1rem 1rem 2rem #000000b3;
}

#contenu p {
  text-align: justify;
  font-size: 1.2rem;
}

#contenu #bottom-padding {
  height: 0;
  position: absolute;
  bottom: -1rem;
}

#contenu #bottom-padding:before {
  content: " ";
}

nav a {
  color: var(--white-col);
  border-bottom: 1px solid gray;
  padding: .45rem;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  display: block;
}

nav a:hover {
  background-color: var(--navy-highlight-col);
}

nav a:first-child {
  border-top: 1px solid gray;
}

h1, h2 {
  color: #fff;
  background-color: var(--navy-highlight-col);
  border-radius: 5px;
  padding-inline: .5em;
}

h1 {
  font-size: 1.5rem;
  font-weight: extrabold;
  border: 1px solid #000000b3;
  padding-block: .3rem;
  box-shadow: inset 2px 2px 3px 1px #fffc, inset -2px -2px 3px 1px #000;
}

h2 {
  background-color: var(--navy-list-highlight-col);
  color: var(--navy-col-lighter);
  border: 1px solid #0006;
  padding-block: .2rem;
  font-size: 1.25rem;
  box-shadow: inset 0 0 .3rem #ffffffb3, inset -1px -1px 3px 1px #000000b3;
}

h1.titre {
  color: #000;
  box-shadow: none;
  text-align: center;
  background-color: #0000;
  border: none;
  margin: 0 0 1rem;
  padding: 0;
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-thickness: 5px !important;
}

.horizontal-menu {
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: sans-serif;
  font-size: 11px;
}

.horizontal-menu a {
  background-color: var(--navy-col);
  border: 1px solid #000;
  border-radius: 5px 5px 0 0;
  padding: 2px 3px;
  font-weight: bold;
  text-decoration: none;
  color: #fff !important;
}

.horizontal-menu a:visited {
  color: #000;
}

.horizontal-menu a:hover {
  color: #fff;
  background-color: var(--navy-highlight-col);
}

.horizontal-menu span {
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 5px 5px 0 0;
  padding: 2px 3px;
  font-weight: bold;
  color: gray !important;
}

.list {
  color: #0009;
  margin-left: 2em;
}

.list__item a {
  color: #000;
  border: 2px solid #0000;
  padding-block: 1px 3px;
  padding-inline: 6px;
  font-weight: 500;
  text-decoration: none;
}

.list__item a:hover {
  color: var(--navy-col);
  background-color: var(--navy-list-highlight-col);
  border-color: #000;
  border-radius: 999px;
}

.list__comment {
  padding-inline: .2rem;
  font-style: italic;
}

.list__fresh:before {
  content: "[";
}

.list__fresh:after {
  content: "]";
}

.list__head {
  color: #8b0000;
  padding-left: 4px;
  font-weight: 900;
}

.list__head:after {
  content: " :";
}

.nouveau:after, .change:after {
  border-radius: 3px;
  margin-left: .5rem;
  padding-inline: .3rem;
  font-size: .8rem;
  font-weight: bold;
}

.nouveau:after {
  content: "nouveau";
  color: #fff;
  background-color: green;
}

.change:after {
  content: "changé";
  color: #fff;
  background-color: red;
}

.new-menu {
  width: 100%;
  margin: auto;
  position: relative;
}

.new-menu label {
  color: #fff;
  background-color: var(--navy-col);
  border: 1px solid #000;
  border-bottom-color: gray;
  border-radius: 5px 5px 0 0;
  padding: .3em;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.new-menu label:visited {
  background-color: var(--white-col);
  color: #000;
}

.new-menu label:hover {
  color: var(--white-col);
  background-color: var(--navy-highlight-col);
}

nav.sub {
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 3px;
  display: flex;
}

#is1:checked ~ nav.sub label.is1, #is2:checked ~ nav.sub label.is2, #is3:checked ~ nav.sub label.is3, #is4:checked ~ nav.sub label.is4, #is5:checked ~ nav.sub label.is5, #is6:checked ~ nav.sub label.is6, #is7:checked ~ nav.sub label.is7, #is8:checked ~ nav.sub label.is8, #is9:checked ~ nav.sub label.is9 {
  color: #000;
  filter: brightness(200%);
  background-color: #fff;
  transition: all .3s;
}

input[type="radio"] {
  display: none;
}

.sections {
  margin-top: 2rem;
}

.sections .content {
  width: 100%;
  display: none;
}

.sections .content.content-0, #is1:checked ~ .sections .content-1, #is2:checked ~ .sections .content-2, #is3:checked ~ .sections .content-3, #is4:checked ~ .sections .content-4, #is5:checked ~ .sections .content-5, #is6:checked ~ .sections .content-6, #is7:checked ~ .sections .content-7, #is8:checked ~ .sections .content-8, #is9:checked ~ .sections .content-9 {
  display: block;
}

#is1:checked ~ .sections .content-0, #is2:checked ~ .sections .content-0, #is3:checked ~ .sections .content-0, #is4:checked ~ .sections .content-0, #is5:checked ~ .sections .content-0, #is6:checked ~ .sections .content-0, #is7:checked ~ .sections .content-0, #is8:checked ~ .sections .content-0, #is9:checked ~ .sections .content-0 {
  display: none;
}

hr {
  color: #d3d3d3;
  width: 30%;
  margin: .7rem auto .5rem;
}

.notice {
  color: #00f;
  border: 1px solid #00f;
  border-radius: 8px;
  margin-block: 1rem;
  margin-inline: 2rem;
  padding: .6rem;
  font-size: 1rem;
}

